
.box {
	display: flex;
	flex-wrap: wrap;
}

.box div.title{
	order: 0;
	flex: 0 0 100%;
	text-align: center;
}


.box div.users{
	order: 1;
	flex: 0 0 20%;
	max-width: 80%;
}

.received-messages{
	order: 2;
	flex: 0 0 80%;
	max-width: 80%;
}
form{
	order: 3;
	flex: 0 0 100%;
	margin-bottom: 2%;
	flex-grow: 1;
}

.input-button{
	bottom: 0;
	position: fixed;
	display: flex;
	width: 100%;
	justify-content: center;
}

body{
	font-family: sans-serif;
}

h1 {
	order: 0;
	flex: 0 0 100%;
	
	color: #DD1C1A; 
	font-size: 48px; 
	font-family: 'Signika', sans-serif;
}

h2 {
	font-size: 20px;
	text-align: center;
	color: #06AED5;
}

input{
	width: 90%;
}

button{
	margin-left: 5px;
	margin-right: 14px;
}

@media screen and (max-width: 710px) {
    .users {
        display: none !important;
    }
}

